<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div style="font-size: 18px;background: #92e3a9;">
    <div style="text-align: center;">
        <div class="container">
            <h1 style="background: #92e3a9;">WebApp Name</h1>
            <h1 style="background: #92e3a9;font-size: 23.8833px;">Registration</h1>
            <section class="register-photo" style="width: 900;background: rgba(146,195,160,0.33);">
                <div class="form-container">
                    <form method="post">
                        <h2 class="text-center"><strong>Create</strong> an account.</h2>
                        <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                        <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                        <div class="mb-3"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
                        <div class="mb-3">
                            <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                        </div>
                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Sign Up</button></div>
                            <a th:href="@{/}" class="already" >You already have an account? Login here.</a>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>


<div lang="en" th:replace="fragments/footer :: footer"> </div>
</body>


</html>